<h2 class="page-header text-center">List of Employees</h2>
<p class="text-center">
    <a href="#employees/new" class="btn btn-lg btn-outline">Add Employee</a>
</p>

<div class="login-status">
    <p></p>
</div>

<code class="console-log"></code>
<ul class="media-list row contacts-container"></ul>