@import './custom.css';

.html-editor {
    width: 96%;
    height: 100vh;
}
.save {
    position: fixed;
}

.region {
    height: 100vh;
    white-space: initial;
}

.editor-placeholder {
    overflow: auto;
}

.wysiwyg-editor {
    margin: 10px;
    width: 96%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
