<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
<header class="bs-header">
    <div class="container">
    <h1>Address Book</h1>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-xs-12 main-container">
        </div>
    </div>
</div>